<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>评分支持</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>funcName</key>
				<string>pushAppstore</string>
			</dict>
			<dict>
				<key>funcName</key>
				<string>makeCall</string>
				<key>title</key>
				<string>客服电话</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>subTitle</key>
				<string>10001</string>
				<key>cellType</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
			<dict>
				<key>funcName</key>
				<string>makeSms</string>
				<key>title</key>
				<string>发短信</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>subTitle</key>
				<string>10001</string>
				<key>cellType</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
