<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>打开设置就好</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>setting_PushPrize_01</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>title</key>
				<string>七步彩</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_02</string>
				<key>subTitle</key>
				<string>每周日开奖</string>
			</dict>
			<dict>
				<key>title</key>
				<string>单色球</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_03</string>
				<key>subTitle</key>
				<string>每周一、三、六开奖</string>
			</dict>
			<dict>
				<key>title</key>
				<string>两步彩</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_04</string>
				<key>subTitle</key>
				<string>每周二开奖</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_05</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3D</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_06</string>
				<key>subTitle</key>
				<string>每周五开奖</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>体育彩票</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
                <key>switchKey</key>
                <string>setting_PushPrize_07</string>
				<key>subTitle</key>
				<string>每周五开奖</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
